@import "materialize/components/color";
$primary-color: color("brown","darken-3") !default;
$secondary-color: color("brown", "darken-1") !default;
@import 'materialize';
@import "materialize/extras/nouislider";
@import "font-awesome-sprockets";
@import "font-awesome";
 
#answer{
    margin-top: 20px;

    #section > div{
        overflow: hidden;
        height: 0;
        transition: height 0.5s ease-in-out;
    }
   
    #section:target > div{
        margin-top: 20px;
        height:370px;
    }
}

#ans_count{
    margin-top:20px;
    color: #795548;
    font-size:30px;    
}

#horizontal_line{
    background-color: #795548;
    height: 2px;
    width:100%;
}

.answer-card{
    
    margin-top:15px;
    margin-bottom: 15px;

    #v{
     display:flex;
     align-items:center;
    }
    .pic{
    height: 50px;
    }

    #v > p{
        margin-left: 20px;
        font-size: 15px;
        font-weight: 600;
    }
}

.color{
    color:white;
}

#pic_edit{
    display:flex;
    align-items:center;
    #profile_pic{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 150px;
    margin-bottom: 30px;
    img{
        height: 150px;
        width:auto;
        border: 0px solid red;
        border-radius: 50%;
    }
    }

    #name{
        display:flex;
        flex-direction: column;
        align-items:center;
        margin-left: 20px;
        span{
            font-size: 40px;
            color: #3e2723;
            font-weight: bold;
        }

        p{
        margin-top:0;
        }

        div{
        p{
         margin-top: 2px;
        }
        }

        #following{
        margin-top: 20px;
    }
    }

    
}

#ques
{
    color:white;
}

#ques:hover{
    color:white;
    font-size: 30px;

}

#card_text{
    padding-top: 10px;
    text-indent: 30px;
    line-height: 30px;
}

#description{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 20px;

    i{
    font-size: 50px;
    }

    p{
        font-size: 20px;
    }
}

.user{
    color:#3e2723 ;
}
#alert
{
    height: 40px;
    overflow: hidden;
    background-color: white;
}
.add_def_color
{
    backgound-color: rgb(238, 110, 115) !important;
}
nav nav
{
    box-shadow : none !important;
}
#head_nav>li{
    margin-right: 10px;
}

#image{
	height: 200px;
}


#img{
	width:175px;
	height: 100%;
}

.text{
	color:#5d4037;
}

#root{
    margin: 0 30px 0 30px ;
    display:flex;
    justify-content: space-around;
}

#side{
    width: 10%;
}

#first{
    max-width: 1000px;
    width: 65%;
    padding-right: 20px;
}

#vertical_line
{
    background-color: #795548;
    width: 0.25%;
}

#second{
    width: 20%;
    margin-right: 5px;
}

.containerx{
    width: 90%;
    margin-left: 65px;
}
#quesans{
    display:flex;

    #side_links{
        width: 15%;
    }

    #target1{
        width: 85%;

        #userans{
         display:flex;
         flex-direction:column;
        }
    }

    #target2{
        width: 85%;

        #userans{
         display:flex;
         flex-direction:column;
        }
    }
}